<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    
</head>

<body>
    <h1 class="text-center">Cupcakes</h1>
    <table class="table table-bordered mx-auto w-75">
        <thead>
            <tr>
                <th scope="col">Flavor</th>
                <th scope="col">Size</th>
                <th scope="col">Rating</th>
                <th scope="col">Image</th>
            </tr>

        </thead>
        <tbody id="table-body">
            {% for cupcake in cupcakes %}
            <tr class="cupcake" data-id="{{cupcake.id}}">
                <td>{{cupcake.flavor}}</td>
                <td>{{cupcake.size}}</td>
                <td>{{cupcake.rating}}</td>
                <td><img src={{cupcake.image}} alt="" class="h-25"></td>
                <td class="text-center align-middle">
                    <button type="button" class="btn-close" aria-label="Close"></button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        
    </table>

    <h3 class="text-center mt-5">Add Cupcake</h3>
    <form id="cupcake-form" class=" mx-auto my-4 w-50">
        <div class="my-2">
            <label for="flavor">Flavor</label>
            <input type="text" name="flavor" class="form-control" id="flavor-input" required>
        </div>
        <div class="my-2">
            <label for="size">Size</label>
            <input type="text" name="size" class="form-control" id="size-input" required>
        </div>
        <div class="my-2">
            <label for="rating">Rating</label>
            <input type="number" name="rating" class="form-control" id="rating-input" step="0.01" min="0" max="10"
                required>
        </div>
        <div class="my-2">
            <label for="image">Image URL</label>
            <input type="url" name="image" id="image-input" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Add</button>
    </form>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/app.js"></script>
</body>

</html>